**/tb_logs/**
**/Attachments/**
**/checkpoints/**
**/__pycache__/**
**/lightning_logs/**
**/*.zip
**/*.zh
**/*.vi
**/*.csv
**/*.jsonl
**/*.json
**/*.safetensors
**/*.model
**/*.vocab
!**/data-analysis/**/*.txt
